.contactContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px;
    background: linear-gradient(146deg, rgba(71, 65, 192, 1) 10%, rgba(124, 78, 164, 1) 53%, rgba(235, 107, 106, 1) 100%);
}

@media screen and (max-width:1100px) {
    .contactContainer {
        flex-direction: column;
    }
}
.containerSubscribe{
   width: auto;
   height: 68px;
}

.buttonSuscribe{
    display : flex;
    float: right;
    
}


.contactinfo {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.titlecontact {

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 50px;

}

.info {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
}

.infoDelphine {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    margin-right: 20px;
}


.contactForm {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid white;
    color: white;
    width: 100%;
}

::-webkit-input-placeholder {
    color: white;
}



@media screen and (max-width: 630px){
    .titleContact, .titleSubscribe{
        font-size: 40px;
    }
}

@media screen and (max-width:450px){
    .phone{
        font-size: 15px;
    }
    .iconsContact{
        width: 30px;
    }
    .contactContainer{
        padding: 10px;
    }
}


.labelcontact{
    font-size: 13px;
}


.hrowContact{
    background-color: white; 
    border: solid 1px white;
}


.newsbutton{
    background-color: #FF6600;
    color: white;
    border-radius: 29px 29px 29px 29px;
    border: none;
    font-size: 15px;
    width: 190px;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
  }


