nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}



@media only screen and (max-width: 1410px){
    .menubar{
        display: none;
    }
}


@media only screen and (min-width: 1410px){
    #buttonMenu{
        
        display: none;
    }
}

#LogoNavbar{

    max-width: 70%;
    height: auto; 
    margin-top: 30px;
    margin-left: 30px;


}

@media only screen and (max-width: 400px) {
    #LogoNavbar{

        margin-top: 10px;
        margin-left: 10px;

    }
} 

#LogoNavbarFixed{

   width: 160px;
    height: auto; 
    margin-left: 30px;

}

@media only screen and (max-width: 400px) {
    #LogoNavbarFixed{

        margin-top: 10px;
        margin-left: 10px;

    }
} 

.menubar{
    align-items: flex-end;
}



.menubar a{
 
    font-family: Arial, Helvetica, sans-serif;
    color: #006998;
    padding-left: 35px;
    padding-right: 0px;
    text-decoration: none;
    font-size: 20px;
 
}

.menubar a:hover{

    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 15%;
    

}

.menuiconimg {
    
    width: 20px;
    height: auto;

  }
  

#buttonContact{

    background-color: #FF6600;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border-radius: 100px;
    border: none;
    font-size: 20px;
    
}


#buttonContact:hover {
   
    background-color: #006998;
    color: rgb(58, 28, 28);
        
}

#buttonContactFixed{
    background-color: #FF6600;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border-radius: 100px;
    border: none;
    font-size: 20px;
}

#buttonContactFixed:hover {
   
    background-color: #006998;
    color: rgb(58, 28, 28);
        
}

.hide {
    opacity:0;
   
}

.show {
    opacity:1;
  
}

.fixedNavBar{
    position:sticky;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 90px;
    top: 0px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 6px 9px -1px rgba(0,0,0,0.25);
    z-index: 9999;
}


#buttonMenuFixed{
    background-color: #FF6600;
    transition: box-shadow .3s;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 40px;
    margin-left: 10px;
    color: white;
    border-radius: 100px;
    border: none;
    font-size: 20px;
}

@media only screen and (min-width: 1410px){
    #buttonMenuFixed{
        
        display: none;
    }
}

.dropbtn{
    cursor: pointer;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius:10px;
    background-color: orange;
    z-index: 1;

}

.dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
    display: block;
  }
.dropdown :hover{

    box-shadow: 0 0 11px rgba(33,33,33,.2); 

}

