
a{
    text-decoration: none;
}
.mainhr{
    color: #006998;
    justify-content: center;
    max-width: 1000px;
    
}

//BODY BACKGROUND WITH SHADOW 
.containerhome{
    
    margin-top: 5px;
    margin-left: 95px;
    margin-right: 95px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    //padding: 10px;
}
//QUERY TO RESIZE CONTAINER WIDTH
@media only screen and (max-width: 1300px){
    .containerhome{
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media only screen and (max-width: 600px){
    .containerhome{
        margin-left: 8px;
        margin-right: 8px;
    }
}

.mainbuttonaction{
    background-color: #FF6600;
    color: white;
    border-radius: 29px 29px 29px 29px;
    border: none;
    font-size: 15px;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0px 5px 5px 1px rgba(207,207,207,1);
}

.mainbuttonaction:hover{

    background-color: #006998;
    color: white;
}

#buttonMenu{
    background-color: #FF6600;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    border-radius: 29px 0px 0px 29px;
    border: none;
    font-size: 20px;
}

.secondarybutton{
    background-color: #ffffff;
    color: black;
    border-radius: 29px 29px 29px 29px;
    border: 1px solid rgb(121, 121, 121);
    font-size: 15px;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0px 5px 5px 1px rgba(207,207,207,1);
    margin-left: 20px;
}

.secondarybutton:hover{

    background-color: #006998;
    color: white;
}

@import "_header"; 
@import "_navbar"; 
@import "_section"; 
@import "_jobs"; 
@import "_footer"; 
@import "_slideshow";
@import "_bio";
@import "_methode";
@import "_tarifs";
@import "_contact";
@import "_politiqueConf";
@import "_modaltest";
@import "_basicfooterlog";
@import "_testes";
@import "_userprof";