.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas: ".";
  justify-content: end;
  margin-right: 95px;
}

@media only screen and (max-width: 1300px) {
  .grid-container {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .grid-container {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.flag {
  height: 35px;
}

