.jobs {
  display: flex;
  justify-content: space-around;
}

.schools {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.schools-logos {
  justify-content: center;
}

.business {
  display: flex;
  justify-content: center;
  align-items: center;
}

.jobs-logos {
  display: flex;
  justify-content: space-around;
  padding-left: 30px;
}

.business-logos {
  align-items: center;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #FF6600;
  padding-left: 10px;
}

.img-schools {
  width: 35px;
  height: 30px;
}

.img-business {
  width: 35px;
  height: 30px;
}

.img-logo {
  padding: 10px;
}

@media screen and (max-width: 634px) {
  .img-logo {
    width: 100px;
    padding: 0px;
  }
}

