.politique-container {
  padding: 50px;
  text-align: justify;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas: ".";
  justify-content: end;
  margin-right: 95px;
}

@media only screen and (max-width: 1300px) {
  .grid-container {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .grid-container {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.flag {
  height: 35px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonLogin {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
}

.login-container {
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  color: #006998;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

@media only screen and (max-width: 1410px) {
  .menubar {
    display: none;
  }
}

@media only screen and (min-width: 1410px) {
  #buttonMenu {
    display: none;
  }
}

#LogoNavbar {
  max-width: 70%;
  height: auto;
  margin-top: 30px;
  margin-left: 30px;
}

@media only screen and (max-width: 400px) {
  #LogoNavbar {
    margin-top: 10px;
    margin-left: 10px;
  }
}

#LogoNavbarFixed {
  width: 160px;
  height: auto;
  margin-left: 30px;
}

@media only screen and (max-width: 400px) {
  #LogoNavbarFixed {
    margin-top: 10px;
    margin-left: 10px;
  }
}

.menubar {
  align-items: flex-end;
}

.menubar a {
  font-family: Arial, Helvetica, sans-serif;
  color: #006998;
  padding-left: 35px;
  padding-right: 0px;
  text-decoration: none;
  font-size: 20px;
}

.menubar a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 15%;
}

.menuiconimg {
  width: 20px;
  height: auto;
}

#buttonContact {
  background-color: #FF6600;
  padding: 6px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  border-radius: 100px;
  border: none;
  font-size: 20px;
}

#buttonContact:hover {
  background-color: #006998;
  color: #3a1c1c;
}

#buttonContactFixed {
  background-color: #FF6600;
  padding: 6px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  border-radius: 100px;
  border: none;
  font-size: 20px;
}

#buttonContactFixed:hover {
  background-color: #006998;
  color: #3a1c1c;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

.fixedNavBar {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 90px;
  top: 0px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 6px 9px -1px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

#buttonMenuFixed {
  background-color: #FF6600;
  transition: box-shadow 0.3s;
  padding: 6px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 40px;
  margin-left: 10px;
  color: white;
  border-radius: 100px;
  border: none;
  font-size: 20px;
}

@media only screen and (min-width: 1410px) {
  #buttonMenuFixed {
    display: none;
  }
}

.dropbtn {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: orange;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown :hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 95px;
  padding-left: 95px;
}

@media only screen and (max-width: 700px) {
  .footer {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (max-width: 1300px) {
  .footer {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.logoFooter {
  padding: 20px;
  width: 250px;
}

.logo-container-footer {
  display: flex;
  flex-direction: column;
  float: left;
}

.politiqueFooter {
  padding: 12px;
  align-items: center;
  display: flex;
}

.socialFooter {
  padding: 12px;
}

.contactContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 100px;
  background: linear-gradient(146deg, #4741c0 10%, #7c4ea4 53%, #eb6b6a 100%);
}

@media screen and (max-width: 1100px) {
  .contactContainer {
    flex-direction: column;
  }
}

.containerSubscribe {
  width: auto;
  height: 68px;
}

.buttonSuscribe {
  display: flex;
  float: right;
}

.contactinfo {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.titlecontact {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 50px;
}

.info {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 20px;
}

.infoDelphine {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 20px;
  margin-right: 20px;
}

.contactForm {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid white;
  color: white;
  width: 100%;
}

::-webkit-input-placeholder {
  color: white;
}

@media screen and (max-width: 630px) {
  .titleContact,
  .titleSubscribe {
    font-size: 40px;
  }
}

@media screen and (max-width: 450px) {
  .phone {
    font-size: 15px;
  }

  .iconsContact {
    width: 30px;
  }

  .contactContainer {
    padding: 10px;
  }
}

.labelcontact {
  font-size: 13px;
}

.hrowContact {
  background-color: white;
  border: solid 1px white;
}

.newsbutton {
  background-color: #FF6600;
  color: white;
  border-radius: 29px 29px 29px 29px;
  border: none;
  font-size: 15px;
  width: 190px;
  padding: 7px;
  padding-left: 15px;
  padding-right: 15px;
}

