.tarifstitle {
  color: #006998;
  font-size: 40px;
  font-weight: 800;
  display: flex;
  justify-content: center;
}

.subtitlefarifs {
  color: #006998;
  font-size: 18px;
  font-weight: 100;
  display: flex;
  justify-content: center;
  text-align: justify;
  padding: 17px;
}

.columncontainer {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .columncontainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.tarifs-container {
  display: flex;
  margin: 50px;
}

.column01tarifs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .column01tarifs {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.tarifsimg {
  width: 80%;
  padding-bottom: 30px;
}

.titreTarifsParagraph {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: #006998;
}

.paragraphTarifs {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 400px;
  color: #006998;
  text-align: justify;
}

.buttonstarifs {
  display: flex;
  align-items: center;
  justify-content: center;
}

