/*HEADER AREA FOR ICONS LOGOUT & USER LOG*/

.testheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}

.logout {
  display: flex;
  flex-direction: row;
  height: 15px;
  align-items: center;
}

.labellogout {
  color: #006998;
}

/*Hide logout label on sm screens*/

@media screen and (max-width: 320px) {
  #labellogout {
    display: none;
  }
}

.userlogged {
  display: flex;
  flex-direction: row;
  height: 15px;
  align-items: center;
}

.labelsaccounts {
  padding-left: 10px;
  color: #006998;
}

.testpresent {
  padding: 15px;
  text-align: center;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.testpresent .description-result {
  text-align: justify;
}

#testTitle {
  text-align: center;
  margin-bottom: 60px;
}

.bannertest {
  width: 100%;
  padding-bottom: 50px;
}

.test-container {
  padding-left: 100px;
  padding: 30px;
}

.exo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.exo-container-checkbox {
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: center;
  background-color: #006998;
  width: auto;
  max-width: 640px;
  height: auto;
  min-height: 27px;
  color: white;
  justify-content: space-around;
}

.video-container {
  height: auto;
  max-width: 640px;
  min-height: 390px;
}

input[type=checkbox] {
  border-radius: 50%;
}

.optlabel {
  color: #74929F;
}

label {
  padding-left: 5px;
  padding-right: 5px;
  color: #006998;
  font-weight: bolder;
}

.titleexo {
  color: #006998;
  text-decoration: underline;
}

.texttest-container {
  width: auto;
  max-width: 900px;
  text-align: justify;
  padding: 10px;
}

.paragraphtext {
  font-size: 15px;
}

.selects {
  flex-direction: column;
  border-color: #FF6600;
  border-radius: 25px;
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border-width: 2px;
}

.result-container {
  display: flex;
  align-items: center;
  margin: auto;
  width: auto;
  max-width: 609px;
  height: auto;
  max-height: 600px;
  background-color: #FF6600;
  color: white;
  box-shadow: 10px 10px 0px #006998;
}

@media screen and (max-width: 460px) {
  .result-container {
    flex-direction: column;
  }

  .resultdescription {
    font-size: 15px;
  }
}

.resultdescription {
  font-size: 35px;
}

.freecourse-container {
  display: flex;
  justify-content: center;
}

.contact-test {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

@media screen and (max-width: 460px) {
  .contact-test {
    flex-direction: column;
    font-size: 10px;
  }
}

.inconEmail-test {
  width: 39px;
  height: 28px;
  padding-right: 5px;
}

.info-containerresult {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

