.resourcesbtn {
  border: none;
  background-color: #006998;
  color: white;
  padding: 10px;
  width: 100%;
  max-width: 630px;
  box-shadow: 0px 5px 5px 1px #cfcfcf;
}

.resourcesiconimg {
  width: 30px;
  padding-right: 10px;
}

.linkresources {
  color: white;
  cursor: pointer;
}

